@import './lib/_helper.scss';

.dui-demo{
    max-width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: 20px;
    &-content{
        padding: 20px;
    }
    &-des{
        color: $font-color;
        font-size: 14px;
    }

    &-button{
        border: none;
        outline: none;
        background-color: transparent;
        padding: 8px 10px;
        border: 1px solid $border-color;
        border-radius: 4px;
        margin: 0 0 20px 20px;
        cursor: pointer;
    }

    &-code{
        padding: 20px;
    }
}
